<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h3 class="panel-title" data-itemtype="masterprint_header" data-itemid="masterprint_header" {$item_masterprint_header} data-pageid="{$pageid}" >{$pagetitlelabel domains masterprint}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
			
																									<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

			data-field="code"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code" data-fieldname="code" 

	
	
	>
	<span class="text-label">
		<span>{$label domains code }</span>
			</span>
	</span>
{END code_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
									{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_class}	"

			data-field="domain"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domain_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domain" data-fieldname="domain" 

	
	
	>
	<span class="text-label">
		<span>{$label domains domain }</span>
			</span>
	</span>
{END domain_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
									{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domainidn_class}	"

			data-field="domainidn"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domainidn_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domainidn" data-fieldname="domainidn" 

	
	
	>
	<span class="text-label">
		<span>{$label domains domainidn }</span>
			</span>
	</span>
{END domainidn_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
									{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ext_class}	"

			data-field="ext"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ext_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ext" data-fieldname="ext" 

	
	
	>
	<span class="text-label">
		<span>{$label domains ext }</span>
			</span>
	</span>
{END ext_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
									{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fsi_class}	"

			data-field="fsi"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fsi_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fsi" data-fieldname="fsi" 

	
	
	>
	<span class="text-label">
		<span>{$label domains fsi }</span>
			</span>
	</span>
{END fsi_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
									{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rubrique_class}	"

			data-field="rubrique"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rubrique_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rubrique" data-fieldname="rubrique" 

	
	
	>
	<span class="text-label">
		<span>{$label domains rubrique }</span>
			</span>
	</span>
{END rubrique_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
									{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_recept_class}	"

			data-field="date_recept"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_recept_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_recept" data-fieldname="date_recept" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_recept }</span>
			</span>
	</span>
{END date_recept_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
									{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_accept_class}	"

			data-field="date_accept"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_accept_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_accept" data-fieldname="date_accept" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_accept }</span>
			</span>
	</span>
{END date_accept_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
									{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_activ_class}	"

			data-field="date_activ"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_activ_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_activ" data-fieldname="date_activ" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_activ }</span>
			</span>
	</span>
{END date_activ_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
									{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_modif_class}	"

			data-field="date_modif"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_modif_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_modif" data-fieldname="date_modif" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_modif }</span>
			</span>
	</span>
{END date_modif_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
									{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_class}	"

			data-field="date_annul"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul" data-fieldname="date_annul" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_annul }</span>
			</span>
	</span>
{END date_annul_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
									{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_due_class}	"

			data-field="date_annul_due"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_due_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul_due" data-fieldname="date_annul_due" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_annul_due }</span>
			</span>
	</span>
{END date_annul_due_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
									{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$etat_class}	"

			data-field="etat"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN etat_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="etat" data-fieldname="etat" 

	
	
	>
	<span class="text-label">
		<span>{$label domains etat }</span>
			</span>
	</span>
{END etat_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
									{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$commentaire_class}	"

			data-field="commentaire"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN commentaire_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="commentaire" data-fieldname="commentaire" 

	
	
	>
	<span class="text-label">
		<span>{$label domains commentaire }</span>
			</span>
	</span>
{END commentaire_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
									{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fsi_in_class}	"

			data-field="id_fsi_in"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fsi_in_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_fsi_in" data-fieldname="id_fsi_in" 

	
	
	>
	<span class="text-label">
		<span>{$label domains id_fsi_in }</span>
			</span>
	</span>
{END id_fsi_in_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
									{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_pw_class}	"

			data-field="domain_pw"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domain_pw_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domain_pw" data-fieldname="domain_pw" 

	
	
	>
	<span class="text-label">
		<span>{$label domains domain_pw }</span>
			</span>
	</span>
{END domain_pw_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
									{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_class}	"

			data-field="date_blocked"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_blocked_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field48" {$item_simple_grid_field48} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_blocked" data-fieldname="date_blocked" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_blocked }</span>
			</span>
	</span>
{END date_blocked_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
									{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_max_class}	"

			data-field="date_blocked_max"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_blocked_max_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field49" {$item_simple_grid_field49} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_blocked_max" data-fieldname="date_blocked_max" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_blocked_max }</span>
			</span>
	</span>
{END date_blocked_max_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
									{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$blocked_by_class}	"

			data-field="blocked_by"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN blocked_by_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field50" {$item_simple_grid_field50} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="blocked_by" data-fieldname="blocked_by" 

	
	
	>
	<span class="text-label">
		<span>{$label domains blocked_by }</span>
			</span>
	</span>
{END blocked_by_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
									{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_unblocked_class}	"

			data-field="date_unblocked"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_unblocked_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field51" {$item_simple_grid_field51} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_unblocked" data-fieldname="date_unblocked" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_unblocked }</span>
			</span>
	</span>
{END date_unblocked_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
									{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_req_class}	"

			data-field="date_transfer_req"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_req_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field52" {$item_simple_grid_field52} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_req" data-fieldname="date_transfer_req" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_transfer_req }</span>
			</span>
	</span>
{END date_transfer_req_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
									{BEGIN cellblock_grid_headcell_field21}
	<th
	
	{$cell_grid_headcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_due_class}	"

			data-field="date_transfer_due"
	
	data-cellId="grid_headcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_due_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field53" {$item_simple_grid_field53} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_due" data-fieldname="date_transfer_due" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_transfer_due }</span>
			</span>
	</span>
{END date_transfer_due_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field21}
									{BEGIN cellblock_grid_headcell_field22}
	<th
	
	{$cell_grid_headcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_canceled_class}	"

			data-field="date_transfer_canceled"
	
	data-cellId="grid_headcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_canceled_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field54" {$item_simple_grid_field54} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_canceled" data-fieldname="date_transfer_canceled" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_transfer_canceled }</span>
			</span>
	</span>
{END date_transfer_canceled_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field22}
									{BEGIN cellblock_grid_headcell_field23}
	<th
	
	{$cell_grid_headcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_accepted_class}	"

			data-field="date_transfer_accepted"
	
	data-cellId="grid_headcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_accepted_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field55" {$item_simple_grid_field55} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_accepted" data-fieldname="date_transfer_accepted" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_transfer_accepted }</span>
			</span>
	</span>
{END date_transfer_accepted_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field23}
									{BEGIN cellblock_grid_headcell_field24}
	<th
	
	{$cell_grid_headcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_rejected_class}	"

			data-field="date_transfer_rejected"
	
	data-cellId="grid_headcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_rejected_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field56" {$item_simple_grid_field56} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_rejected" data-fieldname="date_transfer_rejected" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_transfer_rejected }</span>
			</span>
	</span>
{END date_transfer_rejected_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field24}
									{BEGIN cellblock_grid_headcell_field25}
	<th
	
	{$cell_grid_headcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_req_class}	"

			data-field="date_annul_req"
	
	data-cellId="grid_headcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_req_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field57" {$item_simple_grid_field57} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul_req" data-fieldname="date_annul_req" 

	
	
	>
	<span class="text-label">
		<span>{$label domains date_annul_req }</span>
			</span>
	</span>
{END date_annul_req_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field25}
									{BEGIN cellblock_grid_headcell_field26}
	<th
	
	{$cell_grid_headcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_status_class}	"

			data-field="last_status"
	
	data-cellId="grid_headcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_status_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field58" {$item_simple_grid_field58} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_status" data-fieldname="last_status" 

	
	
	>
	<span class="text-label">
		<span>{$label domains last_status }</span>
			</span>
	</span>
{END last_status_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field26}
									{BEGIN cellblock_grid_headcell_field27}
	<th
	
	{$cell_grid_headcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$updated_by_class}	"

			data-field="updated_by"
	
	data-cellId="grid_headcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN updated_by_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field59" {$item_simple_grid_field59} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="updated_by" data-fieldname="updated_by" 

	
	
	>
	<span class="text-label">
		<span>{$label domains updated_by }</span>
			</span>
	</span>
{END updated_by_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field27}
									{BEGIN cellblock_grid_headcell_field28}
	<th
	
	{$cell_grid_headcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$private_class}	"

			data-field="private"
	
	data-cellId="grid_headcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN private_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field60" {$item_simple_grid_field60} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="private" data-fieldname="private" 

	
	
	>
	<span class="text-label">
		<span>{$label domains private }</span>
			</span>
	</span>
{END private_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field28}
									{BEGIN cellblock_grid_headcell_field29}
	<th
	
	{$cell_grid_headcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_class}	"

			data-field="id"
	
	data-cellId="grid_headcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id" 

	
	
	>
	<span class="text-label">
		<span>{$label domains id }</span>
			</span>
	</span>
{END id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field29}
							</tr>
															
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																														<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

			data-field="code"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code" data-fieldname="code" data-default-width >
{$code_value}
</span>
{END code_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_class}	"

			data-field="domain"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domain_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domain" data-fieldname="domain" data-default-width >
{$domain_value}
</span>
{END domain_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
									{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domainidn_class}	"

			data-field="domainidn"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domainidn_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domainidn" data-fieldname="domainidn" data-default-width >
{$domainidn_value}
</span>
{END domainidn_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
									{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ext_class}	"

			data-field="ext"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ext_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ext" data-fieldname="ext" data-default-width >
{$ext_value}
</span>
{END ext_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
									{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fsi_class}	"

			data-field="fsi"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN fsi_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="fsi" data-fieldname="fsi" data-default-width >
{$fsi_value}
</span>
{END fsi_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
									{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rubrique_class}	"

			data-field="rubrique"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN rubrique_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="rubrique" data-fieldname="rubrique" data-default-width >
{$rubrique_value}
</span>
{END rubrique_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
									{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_recept_class}	"

			data-field="date_recept"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_recept_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_recept" data-fieldname="date_recept" data-default-width >
{$date_recept_value}
</span>
{END date_recept_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
									{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_accept_class}	"

			data-field="date_accept"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_accept_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_accept" data-fieldname="date_accept" data-default-width >
{$date_accept_value}
</span>
{END date_accept_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
									{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_activ_class}	"

			data-field="date_activ"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_activ_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_activ" data-fieldname="date_activ" data-default-width >
{$date_activ_value}
</span>
{END date_activ_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
									{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_modif_class}	"

			data-field="date_modif"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_modif_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_modif" data-fieldname="date_modif" data-default-width >
{$date_modif_value}
</span>
{END date_modif_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
									{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_class}	"

			data-field="date_annul"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul" data-fieldname="date_annul" data-default-width >
{$date_annul_value}
</span>
{END date_annul_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_due_class}	"

			data-field="date_annul_due"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_due_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul_due" data-fieldname="date_annul_due" data-default-width >
{$date_annul_due_value}
</span>
{END date_annul_due_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
									{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$etat_class}	"

			data-field="etat"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN etat_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="etat" data-fieldname="etat" data-default-width >
{$etat_value}
</span>
{END etat_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
									{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$commentaire_class}	"

			data-field="commentaire"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN commentaire_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="commentaire" data-fieldname="commentaire" data-default-width >
{$commentaire_value}
</span>
{END commentaire_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
									{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fsi_in_class}	"

			data-field="id_fsi_in"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fsi_in_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id_fsi_in" data-fieldname="id_fsi_in" data-default-width >
{$id_fsi_in_value}
</span>
{END id_fsi_in_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
									{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_pw_class}	"

			data-field="domain_pw"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN domain_pw_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="domain_pw" data-fieldname="domain_pw" data-default-width >
{$domain_pw_value}
</span>
{END domain_pw_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
									{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_class}	"

			data-field="date_blocked"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_blocked_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_blocked" data-fieldname="date_blocked" data-default-width >
{$date_blocked_value}
</span>
{END date_blocked_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
									{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_max_class}	"

			data-field="date_blocked_max"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_blocked_max_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_blocked_max" data-fieldname="date_blocked_max" data-default-width >
{$date_blocked_max_value}
</span>
{END date_blocked_max_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
									{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$blocked_by_class}	"

			data-field="blocked_by"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN blocked_by_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="blocked_by" data-fieldname="blocked_by" data-default-width >
{$blocked_by_value}
</span>
{END blocked_by_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
									{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_unblocked_class}	"

			data-field="date_unblocked"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_unblocked_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_unblocked" data-fieldname="date_unblocked" data-default-width >
{$date_unblocked_value}
</span>
{END date_unblocked_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
									{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_req_class}	"

			data-field="date_transfer_req"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_req_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_req" data-fieldname="date_transfer_req" data-default-width >
{$date_transfer_req_value}
</span>
{END date_transfer_req_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
									{BEGIN cellblock_grid_cell_field21}
	<td
	
	{$cell_grid_cell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_due_class}	"

			data-field="date_transfer_due"
	
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_due_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_due" data-fieldname="date_transfer_due" data-default-width >
{$date_transfer_due_value}
</span>
{END date_transfer_due_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field21}
									{BEGIN cellblock_grid_cell_field22}
	<td
	
	{$cell_grid_cell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_canceled_class}	"

			data-field="date_transfer_canceled"
	
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_canceled_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_canceled" data-fieldname="date_transfer_canceled" data-default-width >
{$date_transfer_canceled_value}
</span>
{END date_transfer_canceled_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field22}
									{BEGIN cellblock_grid_cell_field23}
	<td
	
	{$cell_grid_cell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_accepted_class}	"

			data-field="date_transfer_accepted"
	
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_accepted_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_accepted" data-fieldname="date_transfer_accepted" data-default-width >
{$date_transfer_accepted_value}
</span>
{END date_transfer_accepted_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field23}
									{BEGIN cellblock_grid_cell_field24}
	<td
	
	{$cell_grid_cell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_rejected_class}	"

			data-field="date_transfer_rejected"
	
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_transfer_rejected_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_transfer_rejected" data-fieldname="date_transfer_rejected" data-default-width >
{$date_transfer_rejected_value}
</span>
{END date_transfer_rejected_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field24}
									{BEGIN cellblock_grid_cell_field25}
	<td
	
	{$cell_grid_cell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_req_class}	"

			data-field="date_annul_req"
	
	data-cellId="grid_cell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN date_annul_req_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="date_annul_req" data-fieldname="date_annul_req" data-default-width >
{$date_annul_req_value}
</span>
{END date_annul_req_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field25}
									{BEGIN cellblock_grid_cell_field26}
	<td
	
	{$cell_grid_cell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_status_class}	"

			data-field="last_status"
	
	data-cellId="grid_cell_field26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN last_status_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="last_status" data-fieldname="last_status" data-default-width >
{$last_status_value}
</span>
{END last_status_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field26}
									{BEGIN cellblock_grid_cell_field27}
	<td
	
	{$cell_grid_cell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$updated_by_class}	"

			data-field="updated_by"
	
	data-cellId="grid_cell_field27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN updated_by_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="updated_by" data-fieldname="updated_by" data-default-width >
{$updated_by_value}
</span>
{END updated_by_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field27}
									{BEGIN cellblock_grid_cell_field28}
	<td
	
	{$cell_grid_cell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$private_class}	"

			data-field="private"
	
	data-cellId="grid_cell_field28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN private_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="private" data-fieldname="private" data-default-width >
{$private_value}
</span>
{END private_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field28}
									{BEGIN cellblock_grid_cell_field29}
	<td
	
	{$cell_grid_cell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_class}	"

			data-field="id"
	
	data-cellId="grid_cell_field29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-fieldname="id" data-default-width >
{$id_value}
</span>
{END id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field29}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																			<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$code_class}	"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
									{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_class}	"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
									{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domainidn_class}	"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
									{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$ext_class}	"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
									{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$fsi_class}	"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
									{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$rubrique_class}	"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
									{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_recept_class}	"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
									{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_accept_class}	"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
									{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_activ_class}	"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
									{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_modif_class}	"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
									{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_class}	"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
									{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_due_class}	"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
									{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert		 {$etat_class}	"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
									{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert		 {$commentaire_class}	"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
									{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_fsi_in_class}	"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
									{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert		 {$domain_pw_class}	"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
									{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_class}	"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
									{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_blocked_max_class}	"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
									{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert		 {$blocked_by_class}	"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
									{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_unblocked_class}	"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
									{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_req_class}	"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
									{BEGIN cellblock_grid_footcell_field21}
	<td
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_due_class}	"

	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field21}
									{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_canceled_class}	"

	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field22}
									{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_accepted_class}	"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
									{BEGIN cellblock_grid_footcell_field24}
	<td
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_transfer_rejected_class}	"

	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field24}
									{BEGIN cellblock_grid_footcell_field25}
	<td
	
	{$cell_grid_footcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert		 {$date_annul_req_class}	"

	
	data-cellId="grid_footcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field25}
									{BEGIN cellblock_grid_footcell_field26}
	<td
	
	{$cell_grid_footcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert		 {$last_status_class}	"

	
	data-cellId="grid_footcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field26}
									{BEGIN cellblock_grid_footcell_field27}
	<td
	
	{$cell_grid_footcell_field27}
	{$recordattrs}
	class="
		 r-ori-vert		 {$updated_by_class}	"

	
	data-cellId="grid_footcell_field27" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field27}
									{BEGIN cellblock_grid_footcell_field28}
	<td
	
	{$cell_grid_footcell_field28}
	{$recordattrs}
	class="
		 r-ori-vert		 {$private_class}	"

	
	data-cellId="grid_footcell_field28" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field28}
									{BEGIN cellblock_grid_footcell_field29}
	<td
	
	{$cell_grid_footcell_field29}
	{$recordattrs}
	class="
		 r-ori-vert		 {$id_class}	"

	
	data-cellId="grid_footcell_field29" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="domains_masterprint"	
	>

	
	</td>
	{END cellblock_grid_footcell_field29}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
