<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel domains add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Retour à la liste</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Afficher</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editer</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN domain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_domain}  r-vertical-field" 
	data-signal-error-for="domain{$id}" {$required_attr_domain}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="domain" data-fieldname="domain" >

	<label class="r-edit-label control-label" for="{$labelfor_domain}">
		{BEGIN domain_label}{$label domains domain }{END domain_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$domain_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="domain" {$tooltipAttr domains domain } >
		<div class="text-muted" >
		{$tooltip domains domain }		</div>
	</div>
</div>


{END domain_fieldblock}
											
{BEGIN ext_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ext}  r-vertical-field" 
	data-signal-error-for="ext{$id}" {$required_attr_ext}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ext" data-fieldname="ext" >

	<label class="r-edit-label control-label" for="{$labelfor_ext}">
		{BEGIN ext_label}{$label domains ext }{END ext_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$ext_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ext" {$tooltipAttr domains ext } >
		<div class="text-muted" >
		{$tooltip domains ext }		</div>
	</div>
</div>


{END ext_fieldblock}
											
{BEGIN commentaire_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_commentaire}  r-vertical-field" 
	data-signal-error-for="commentaire{$id}" {$required_attr_commentaire}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="commentaire" data-fieldname="commentaire" >

	<label class="r-edit-label control-label" for="{$labelfor_commentaire}">
		{BEGIN commentaire_label}{$label domains commentaire }{END commentaire_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$commentaire_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="commentaire" {$tooltipAttr domains commentaire } >
		<div class="text-muted" >
		{$tooltip domains commentaire }		</div>
	</div>
</div>


{END commentaire_fieldblock}
											
{BEGIN domain_pw_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_domain_pw}  r-vertical-field" 
	data-signal-error-for="domain_pw{$id}" {$required_attr_domain_pw}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="domain_pw" data-fieldname="domain_pw" >

	<label class="r-edit-label control-label" for="{$labelfor_domain_pw}">
		{BEGIN domain_pw_label}{$label domains domain_pw }{END domain_pw_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$domain_pw_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="domain_pw" {$tooltipAttr domains domain_pw } >
		<div class="text-muted" >
		{$tooltip domains domain_pw }		</div>
	</div>
</div>


{END domain_pw_fieldblock}
											
{BEGIN private_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_private}  r-vertical-field" 
	data-signal-error-for="private{$id}" {$required_attr_private}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="private" data-fieldname="private" >

	<label class="r-edit-label control-label" for="{$labelfor_private}">
		{BEGIN private_label}{$label domains private }{END private_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$private_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="private" {$tooltipAttr domains private } >
		<div class="text-muted" >
		{$tooltip domains private }		</div>
	</div>
</div>


{END private_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_domain_contacts}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_domain_contacts}			
							<span>
					{$detailslButtons_domain_contacts}
																															</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_domain_contacts}
		</div>
	</div>
</div>
{END details_domain_contacts}
											
{BEGIN details_nameservers}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_nameservers}			
							<span>
					{$detailslButtons_nameservers}
																															</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_nameservers}
		</div>
	</div>
</div>
{END details_nameservers}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Sauvegarder			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Remettre			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Retour à la liste			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Annuler			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
