<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel late_domains view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" data-fieldname="id" data-signal-error-for="id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id}">
		
		{BEGIN id_label}{$label late_domains id }{END id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_value}	</div>

		
</div>


{END id_fieldblock}
											
{BEGIN code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_code}  r-vertical-field" data-fieldname="code" data-signal-error-for="code{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="code" data-fieldname="code" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_code}">
		
		{BEGIN code_label}{$label late_domains code }{END code_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$code_value}	</div>

		
</div>


{END code_fieldblock}
											
{BEGIN domain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_domain}  r-vertical-field" data-fieldname="domain" data-signal-error-for="domain{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="domain" data-fieldname="domain" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_domain}">
		
		{BEGIN domain_label}{$label late_domains domain }{END domain_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$domain_value}	</div>

		
</div>


{END domain_fieldblock}
											
{BEGIN ext_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ext}  r-vertical-field" data-fieldname="ext" data-signal-error-for="ext{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ext" data-fieldname="ext" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ext}">
		
		{BEGIN ext_label}{$label late_domains ext }{END ext_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ext_value}	</div>

		
</div>


{END ext_fieldblock}
											
{BEGIN fsi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fsi}  r-vertical-field" data-fieldname="fsi" data-signal-error-for="fsi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fsi" data-fieldname="fsi" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fsi}">
		
		{BEGIN fsi_label}{$label late_domains fsi }{END fsi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fsi_value}	</div>

		
</div>


{END fsi_fieldblock}
											
{BEGIN organisme_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_organisme}  r-vertical-field" data-fieldname="organisme" data-signal-error-for="organisme{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="organisme" data-fieldname="organisme" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_organisme}">
		
		{BEGIN organisme_label}{$label late_domains organisme }{END organisme_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$organisme_value}	</div>

		
</div>


{END organisme_fieldblock}
											
{BEGIN adresse_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_adresse}  r-vertical-field" data-fieldname="adresse" data-signal-error-for="adresse{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="adresse" data-fieldname="adresse" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_adresse}">
		
		{BEGIN adresse_label}{$label late_domains adresse }{END adresse_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$adresse_value}	</div>

		
</div>


{END adresse_fieldblock}
											
{BEGIN tel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tel}  r-vertical-field" data-fieldname="tel" data-signal-error-for="tel{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="tel" data-fieldname="tel" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tel}">
		
		{BEGIN tel_label}{$label late_domains tel }{END tel_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tel_value}	</div>

		
</div>


{END tel_fieldblock}
											
{BEGIN fax_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fax}  r-vertical-field" data-fieldname="fax" data-signal-error-for="fax{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="fax" data-fieldname="fax" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fax}">
		
		{BEGIN fax_label}{$label late_domains fax }{END fax_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fax_value}	</div>

		
</div>


{END fax_fieldblock}
											
{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" data-fieldname="email" data-signal-error-for="email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="email" data-fieldname="email" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_email}">
		
		{BEGIN email_label}{$label late_domains email }{END email_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$email_value}	</div>

		
</div>


{END email_fieldblock}
											
{BEGIN contact_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contact}  r-vertical-field" data-fieldname="contact" data-signal-error-for="contact{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="contact" data-fieldname="contact" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_contact}">
		
		{BEGIN contact_label}{$label late_domains contact }{END contact_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$contact_value}	</div>

		
</div>


{END contact_fieldblock}
											
{BEGIN activite_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_activite}  r-vertical-field" data-fieldname="activite" data-signal-error-for="activite{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="activite" data-fieldname="activite" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_activite}">
		
		{BEGIN activite_label}{$label late_domains activite }{END activite_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$activite_value}	</div>

		
</div>


{END activite_fieldblock}
											
{BEGIN rubrique_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rubrique}  r-vertical-field" data-fieldname="rubrique" data-signal-error-for="rubrique{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="rubrique" data-fieldname="rubrique" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_rubrique}">
		
		{BEGIN rubrique_label}{$label late_domains rubrique }{END rubrique_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$rubrique_value}	</div>

		
</div>


{END rubrique_fieldblock}
											
{BEGIN date_recept_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_recept}  r-vertical-field" data-fieldname="date_recept" data-signal-error-for="date_recept{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="date_recept" data-fieldname="date_recept" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_date_recept}">
		
		{BEGIN date_recept_label}{$label late_domains date_recept }{END date_recept_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$date_recept_value}	</div>

		
</div>


{END date_recept_fieldblock}
											
{BEGIN date_accept_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_accept}  r-vertical-field" data-fieldname="date_accept" data-signal-error-for="date_accept{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="date_accept" data-fieldname="date_accept" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_date_accept}">
		
		{BEGIN date_accept_label}{$label late_domains date_accept }{END date_accept_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$date_accept_value}	</div>

		
</div>


{END date_accept_fieldblock}
											
{BEGIN date_activ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_activ}  r-vertical-field" data-fieldname="date_activ" data-signal-error-for="date_activ{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="date_activ" data-fieldname="date_activ" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_date_activ}">
		
		{BEGIN date_activ_label}{$label late_domains date_activ }{END date_activ_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$date_activ_value}	</div>

		
</div>


{END date_activ_fieldblock}
											
{BEGIN date_modif_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_modif}  r-vertical-field" data-fieldname="date_modif" data-signal-error-for="date_modif{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="date_modif" data-fieldname="date_modif" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_date_modif}">
		
		{BEGIN date_modif_label}{$label late_domains date_modif }{END date_modif_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$date_modif_value}	</div>

		
</div>


{END date_modif_fieldblock}
											
{BEGIN date_annul_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_date_annul}  r-vertical-field" data-fieldname="date_annul" data-signal-error-for="date_annul{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="date_annul" data-fieldname="date_annul" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_date_annul}">
		
		{BEGIN date_annul_label}{$label late_domains date_annul }{END date_annul_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$date_annul_value}	</div>

		
</div>


{END date_annul_fieldblock}
											
{BEGIN etat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_etat}  r-vertical-field" data-fieldname="etat" data-signal-error-for="etat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="etat" data-fieldname="etat" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_etat}">
		
		{BEGIN etat_label}{$label late_domains etat }{END etat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$etat_value}	</div>

		
</div>


{END etat_fieldblock}
											
{BEGIN modif_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_modif}  r-vertical-field" data-fieldname="modif" data-signal-error-for="modif{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="modif" data-fieldname="modif" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_modif}">
		
		{BEGIN modif_label}{$label late_domains modif }{END modif_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$modif_value}	</div>

		
</div>


{END modif_fieldblock}
											
{BEGIN commentaire_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_commentaire}  r-vertical-field" data-fieldname="commentaire" data-signal-error-for="commentaire{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="commentaire" data-fieldname="commentaire" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_commentaire}">
		
		{BEGIN commentaire_label}{$label late_domains commentaire }{END commentaire_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$commentaire_value}	</div>

		
</div>


{END commentaire_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="late_domains_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		{mlang_message EDIT}		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
